@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
     font-family: "Outfit", sans-serif;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}


.animate-marquee {
  display: inline-block;
  min-width: 100%;
  animation: marquee 20s linear infinite;
}
